@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

body {
  background: #EFEFEF;
}

* {
  font-family: "Open Sans", sans-serif;
}

.root {
  background: white;
  border-radius: 10px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
  padding: 15px;

  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .root {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
.title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
}

.ad {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.inner {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

.presence {
  display: flex;
  height: 60px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
}

.presence > * {
  height: 100%;
  margin-right: 10px;
  width: auto;
}

.presence > .presenceThumbnail {
  background: #EFEFEF;
  border-radius: 50%;
  margin-right: 4px;
}

.presence > .presenceUsername {
  display: flex;
  align-items: center;
  font-size: 20px;
  flex: 1;
}

.presence > .presenceMarker {
  width: 32px;
  margin-right: 5px;
}

.presence > .presenceButton {
  border: none;
  background: #1976D2;
  color: white;
  border-radius: 7px;
  margin-right: 0;
  font-size: 15px;
  cursor: pointer;
}

.presence > .presenceButton:after {
  display: inline-block;
  content: url(https://cdn.glitch.com/ef668cb9-778b-4910-8af9-55fecb88da82%2Fexternal-link-white.svg);
  width: 16px;
  height: 16px;
  /* vertical-align: -12%; */
  vertical-align: middle;
}
